> .menubar {
  color: #c8c8c8;
  background-color: #212220;

  .item:hover { background-color: #3A3A3A }
  .item.active { background-color: #252525 }
}

.marklet-menu {
  background-color: #2D2F31;
  box-shadow: 0 2px 8px #000000;

  .menu-item {
    .label { color: #bbbbbb }
    .binding { color: #a5a5a5 }
    .binding i:hover { color: #fafaf5 }
    .separator { border-bottom-color: #888888 }

    &:hover {
      &:not(.disabled) { background-color: #3A3A3A }
      .label { color: #e1e4e8 }
      .binding { color: #c6cbd1 }
    }

    &.active {
      .label { color: #ACDDFF; text-shadow: 0 0 0.15px #ACDDFF }
    }

    &.disabled {
      .label { color: #777777 !important }
      .binding { color: #666666 !important }
    }
  }
}
