> .menubar {
  color: #4d4d4d;
  background-color: #fafbfc;

  .item:hover { background-color: #c0c0c0 }
  .item.active { background-color: #e0e0e0 }
}

> .input > .border {
  background-color: #dddddd;

  &:hover { background-color: #aaaaaa }
}

.marklet-menu {
  background-color: #ffffff;
  box-shadow: 0 2px 8px #888888;

  .menu-item {
    .label { color: #383838 }
    .caption { color: #bababa }
    .binding { color: #808080 }
    .binding i:hover { color: #000000 }
    .separator { border-bottom-color: #b0b0b0 }

    &:hover {
      &:not(.disabled) { background-color: #e8e8e8 }
      .label { color: #24292e }
      .binding { color: #f5eaea }
    }

    &.active {
      .label { color: #409eff; text-shadow: 0 0 0.15px #ACDDFF }
    }

    &.disabled {
      .label { color: #bababa !important }
      .binding { color: #c8c8c8 !important }
    }
  }
}
