$menu-bgcolor: #ffffff;
$menu-shadow: #888888;
$active-color: #409eff;

&, > .explorer {
  background-color: #ffffff;
}

> .menubar {
  color: #4d4d4d;
  background-color: #fafbfc;

  .item:hover { background-color: #c0c0c0 }

  .item.active {
    background-color: $menu-bgcolor;
    box-shadow: 0 0 8px $menu-shadow;
  }
}

> .border {
  background-color: #dddddd;

  &:hover, &.active { background-color: #aaaaaa }
}

.marklet-menu {
  background-color: $menu-bgcolor;
  box-shadow: 0 2px 8px $menu-shadow;

  .menu-item {
    .label { color: #383838 }
    .caption { color: #bababa }
    .binding { color: #808080 }
    .binding i:hover { color: #000000 }
    .separator { border-bottom-color: #b0b0b0 }

    &:hover {
      &:not(.disabled) { background-color: #e8e8e8 }
      .label { color: #24292e }
      .binding { color: #f5eaea }
    }

    &.active {
      .label {
        color: $active-color;
        text-shadow: 0 0 0.15px #ACDDFF;
      }
    }

    &.disabled {
      .label { color: #bababa !important }
      .binding { color: #c8c8c8 !important }
    }
  }
}

.marklet-checkbox {
  color: #606266;

  > .box {
    > .inner {
      background-color: #ffffff;
      border-color: #dcdfe6;

      &::after {
        border-color: #ffffff;
      }
    }
  }
  
  &.checked, &.focused {
    > .box > .inner {
      border-color: $active-color;
    }
  }

  &.checked {
    color: $active-color;

    > .box > .inner {
      background-color: $active-color;
    }
  }
}
